WHATSAPP_ENGINE_PROVIDER=openwa
WHATSAPP_ENGINE_URL=http://localhost:2785
API_KEY=anurag-dev-api-key
JWT_SECRET=super-secret-key-change-this-in-production
DATABASE_URL=file:local.db
APP_URL=http://localhost:9091
UPLOAD_PATH=./uploads
AI_PROVIDER=groq
AI_API_KEY=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
